/*
.titleDetails {
  text-align: center;
  color: #2d2d2d;
  align-content: center;
  padding: 1rem;
}

.divDetails {
  background-color: #ffffff;
  display: grid;
  align-items: center;
  grid-template-areas:
    "image image image"
    "title title title"
    "description description description "
    "city city date"
    "level level availablePlaces "
    "rate price submit";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border-radius: 0.8rem;
  margin: 20px;
  height: auto;
  cursor: default;
  /* text-align: center; 

  color: #000000;
}

.experienceTitleDetails {
  grid-area: title;
  text-align: center;
}

.experienceImgDetails {
  grid-area: image;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}

.experienceDescriptionDetails {
  grid-area: description;
  margin-left: 0.8rem;
}

.experienceCityDetails {
  grid-area: city;
  margin-left: 0.8rem;
}

.experienceCityDetails svg {
  color: #2d2d2d;
}

.experienceLevelDetails {
  grid-area: level;
  margin-left: 0.8rem;
}

/* .experienceTotalDetails {

  grid-area: totalPlaces;
} 

.experienceFreeDetails {
  grid-area: availablePlaces;
  margin-left: 0.8rem;
}

.experienceDateDetails {
  grid-area: date;
  margin-left: 0.8rem;
}

.experienceRateDetails {
  grid-area: rate;
  margin-left: 0.8rem;
  align-self: center;
  text-align: center;
}

.experiencePriceDetails {
  grid-area: price;
  margin-left: 0.8rem;
  align-self: center;
}

.bookButton,
.cancelButton {
  background-color: #d9d9d9;
  color: #000000;
  border: 1px solid #000000;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.5s ease;
  width: 12rem;
  /* align-self: center; 
  grid-area: submit;
  justify-self: center;
}

.bookButton:hover,
.cancelButton:hover {
  background-color: #ffffff;
}

.commentsDiv {
  background-color: #ffffff;
  border-radius: 8px;
  color: #000000;
  margin: 1rem;
  padding: 1rem;
}

.userComment {
  background-color: #f4cba46d;
  border-radius: 0.8rem;
  margin: 1rem;
  padding: 1rem;
  width: 54vw;
  border: 1px solid #000000;
}

.userNameInfo {
  font-weight: bold;
}

.userCommentInfo {
}

.myExperiencesSection {
  display: flex;
}

.myExperienceInside {
  margin: 0 10px;
}

*/
.sectionDetails {
  background-color: #f4cba4;
  display: flex;
  justify-content: center;
}

.titleDetails {
  text-align: center;
  color: #2d2d2d;
  align-content: center;
  font-size: x-large;
}

.divDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  color: #2d2d2d;
  padding: 1rem;
  border-radius: 8px;
  margin: 1rem 0;
  width: 85vw;
  max-width: 650px;
  height: auto;
  box-shadow:  10px 10px 30px #4444443d,
             -10px -10px 30px #44444480;
}



.experienceImgDetails {
  width: 100%;
  max-width: 50rem;
  max-height: 15rem;
  border-radius: 0.8rem;
  object-fit: cover;
  object-position: left;
}

.imageRate {
  position: relative; /* Establece el contenedor como relativo */
}

.experienceRateDetails {
  position: absolute; 
  top: 0; 
  right: 0; 
  font-weight: bold;
  color:#f8f8f8;
  margin: 0.3rem; 
  background-color: #30303067;
  padding: 0.2rem 0.7rem 0.2rem;
  border-radius: 5rem;
}

.experienceDescriptionDetails{
  text-align: center;
  font-weight: 500;
  margin-top: 0.5rem;
}

.experienceDateDetails {
  font-weight: bold;
  margin-top: 0.7rem;
}

.sectionData {
  display: flex;
  justify-content: space-around;
  margin-top:0.5rem;
  margin: 0.5rem -1rem;
}

.leftInfo, .rightInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.experienceCityDetails {
  background-color: #bdff80ad;
  font-weight: 500;
  padding: 0.2rem 0.7rem 0.2rem;
  border-radius: 5rem;
  margin-bottom: 0.3rem;
}


.experienceLevelDetails, .experienceFreeDetails, .experiencePriceDetails {
  font-weight: 500;
  padding: 0.2rem;
  margin-bottom: 0.3rem;
}

.bookButton {
  background-color: #2d2d2d;
  font-weight: bold;
  width: 100%;
  max-width: 300px;
  margin: 1rem 0;
  outline: none;
  border-radius: 0.8rem;
  border: 0.1rem solid #2d2d2d;
  color: #f8f8f8;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}


.bookButton:hover {
  background-color: #2d2d2d;
  color: #9ef08e;
  border: none;
}

.cancelButton {
  background-color: #2d2d2d;
  font-weight: bold;
  width: 100%;
  margin: 1rem 0;
  outline: none;
  border-radius: 0.8rem;
  border: 0.1rem solid #2d2d2d;
  color: #f8f8f8;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.cancelButton:hover {
  background-color: #2d2d2d;
  color: #ff4444;
  border: none;
}
.commentBox {
  background-color: #f4cba4;
  display: flex;
  
  justify-content: center;

}
.commentsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  color: #2d2d2d;
  padding: 1rem;
  border-radius: 8px;
  margin: 1rem 0;
  width: 85vw;
  max-width: 650px;
  height: auto;
  box-shadow:  10px 10px 30px #4444443d,
             -10px -10px 30px #44444480;

}

.userComment {
  background-color: #bdff8059;
  border-radius: 0.8rem;
  margin: 0.5rem;
  padding: 0.7rem;
  width: 100%;
  border: 1px solid #000000;
}

.userNameInfo {
  font-weight: bold;
}

.myExperiencesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myExperienceInside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  color: #2d2d2d;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  width: 85vw;
  max-width: 650px;
  height: auto;
  box-shadow:  10px 10px 30px #4444443d,
             -10px -10px 30px #44444480;
            
}

.myExperienceInside h3 {
  margin-bottom: 0.8rem;
}

.commentSectionMyExperiences {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentButton {
  background-color: #2d2d2d;
  font-weight: bold;
  width: 100%;
  max-width: 300px;

  outline: none;
  border-radius: 0.8rem;
  border: 0.1rem solid #2d2d2d;
  color: #f8f8f8;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.commentButton:hover {
  background-color: #2d2d2d;
  color: #9ef08e;
  border: none;
}


.inputComment {
  background-color: #f8f8f8;
  width: 100%;
  margin: 1rem 0;
  outline: none;
  border-radius: 0.8rem;
  border: 0.1rem solid #2d2d2d;
  color: #2d2d2d;
  padding: 0.5rem;
}

.divRate {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

form .divRate p {
  text-align: center;
}

/* Estilo base para el input range */
.inputRange {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 80%;
}

/* Removes default focus /
input[type="range"]:focus {
  outline: none;
}

/** Chrome, Safari, Opera and Edge Chromium styles **/
/*slider track */
.inputRange::-webkit-slider-runnable-track {
  background-color: #8ff0a4;
  border-radius: 0.8rem;
  height: 0.5rem;
  align-self: center;
}

/*slider thumb */
.inputRange::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #26a269;
  border-radius: 0.8rem;
  height: 1rem;
  width: 1rem;
}

.inputRange:focus::-webkit-slider-thumb {
  outline: 3px solid #26a269;
  outline-offset: 0.125rem;
}

/** Firefox styles **/
/*slider track */
.inputRange::-moz-range-track {
  background-color: #8ff0a4;
  border-radius: 0.8rem;
  height: 0.5rem;
}

/* slider thumb */
.inputRange::-moz-range-thumb {
  background-color: #26a269;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.8rem;
  height: 1rem;
  width: 1rem;
}

.inputRange:focus::-moz-range-thumb{
  outline: 3px solid #26a269;
  outline-offset: 0.125rem;
} 

@media (min-width: 600px) {


  .myExperiencesSection {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }




}